[submodule "backend"]
    path = backend
    url = https://github.com/AlaMdalla/marimex0/tree/backend
[submodule "frontend"]
    path = frontend
    url = https://github.com/AlaMdalla/marimex0/tree/frontend
