[submodule "backend"]
    path = backend
    url = https://github.com/AlaMdalla/marimex0.git
    branch = backend
[submodule "frontend"]
    path = frontend
    url = https://github.com/AlaMdalla/marimex0.git
    branch = frontend
