
  <section class="sec_2" id="sec_2">
    <h2>Gallery</h2> 
    <div class="images" title="Gallery">
      <img class="animate" src="../../assets/Gallery/1.jpg" alt="">
      <img class="animate" src="../../assets/Gallery/2.jpg" alt="">
      <img  class="animate"src="../../assets/Gallery/3.jpg" alt="">
    </div>
  </section>
  
  
<section class="featured-products" id="sec_1">
  <div class="container">
    <h2 class="section-title">Featured product</h2>
    <div class="product-list">
      <div class="product">
        <img src="../../assets/6.jpg" alt="Marble 1">
        <h3>Plateau 250 Extra Lux Resine </h3>
        <p>Segment de Bouchardage Marbre</p>
        <a routerLink="/marble/64bfd2d0e02bc65440d536d8" class="cta-button">Explore</a>
      </div>
      <div class="product">
        <img src="../../assets/9.jpg" alt="Marble 2">
        <h3>Disque 230Ø Noir </h3>
        <p>Disque 230Ø diamètre 230Ø avec flasque Noir </p>
        <a href="/marble/64bfd2d0e02bc65440d536de" class="cta-button">Explore</a>
      </div>
      <div class="product">
        <img src="../../assets/5.jpg" alt="Marble 2">
        <h3>Disque Taille Bloc 1000/1100/1200 </h3>
        <p>Disque Taille Bloc 1000/1100/1200  </p>
        <a href="/marble/64bfd2d0e02bc65440d536d6" class="cta-button">Explore</a>
      </div>
      <!-- Add more featured marbles here -->
    </div>
  </div>
</section>

    